# ShareEat
Projet
html{
	overflow:scroll;
	white-space:nowrap;
}
body{
	width:1250px;
	margin-left:auto;
	margin-right:auto;
}
/*Debut du bandeau*/
a { /* Agit sur les liens*/
 text-decoration:none; /* Les désouligne*/
 font-size: 16px	; /*Définit leur taille*/
 color:#d08a28;
	padding-left:10px;
	padding-right: 10px;
} 

div#Bandeau {
	left:0;
	position:fixed;
	background-color: #5e140b;
	height:60px;
	width:100%;}
div#Contenu {
	width:1250px;
	margin-left:auto;
	margin-right:auto;
}
.Logo { /*sert a placer le logo*/
vertical-align: middle;
	width: 60px;
		}
}	
#searchbar{	
	margin-left: 20px;
	
}
.formulaire .champ {
	width:400px	;
	}
.formulaire .bouton{
 width: 60px;
 font-size:12px;
 }
 /*fin du bandeau*/
 /*Barre de gauche*/

.button1{
	margin-right:20px;
	margin-top:2%;
}
#searchbar2{	
	margin-left: 160px;
}
.formulaire .champ {
	width:180px;
	font-size:100%;
	}
.formulaire .bouton{
 width: 40px;
 font-size:100%;
 }

div#barre_de_gauche {
    position: fixed;
    display: inline-block;
    margin: 70px 0 0 -100px;
    padding: 0;  
    border-right: 2px solid red; 
    z-index: 2;
    overflow: scroll;
}


a.gauche {
    display: block;
    width: 100%;
    height:100%;
    background-color: white;
    
}

a:hover {
    background-color: orange;
}


div.mes {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 18px;
}

div.sous-mes {
    background-color: orange;
    margin: -0px 0px -0px 40px;
    width: 108px;
    border-left: 2px solid red;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
}

div#espace {
    width: 100%;
    height: 10px;
    margin: 10px 0;
}
div.mon_profil {
    position: relative;
    top: 70px;
    margin: 0px 0 30px 150px;
    background-color: lightgrey;
    width: 610px;
    height: 50px;
    line-height: 50px;
}

div.mon_profil p {
    text-align: center;
}
div.barre {
    position: relative;
    top: 70px;
    margin: 0px 0 30px 150px;
    width: 610px;
    height: 50px;
line-height: 50px;}
.plus{
	margin: 50px 0 30px 400px;
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
	margin: 110px 0 30px 160px;
	width:600px;
}
th{
	width:400px;
}
td ,th{
	border: 1px solid black;
}
div#colone2 {
	width:900px;
	margin-left:500px;

}
